body {
  background-color: black;
  text-align: center;
  color: red;
  background-image: url("https://cdn.esahubble.org/archives/images/screen/heic1509a.jpg");
}


#myCanvas {
  background-size: 400px;
  border-radius: 60px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

h3{
  color: white;
}
li{
  color: yellow;
}